
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
.hide {
    display: none;
}
.menu {
    text-align: center;
}
.menu a {
    padding: 20px;
    color: black;
    display: block;
    text-decoration: none;
    border-top: 1px solid gray;
    
}
.menu a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    /* Added in Week 4 */
    transition: 0.4s
}

.change .bar1 {
    transform: translate(0,11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0,-11px) rotate(45deg);
}

footer {
    text-align: center;
}

@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    .menu {
        display: block;
        text-align: right;
    }
    .menu a {
        display: inline;
        border: none;
    }
}