h1 {
    text-align: center;
}
nav {
    text-align: end;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: gold;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a {
    color: red;
    margin-left: 50px;
}

.book {
    display: grid;
    grid-template-columns: 1fr;

}
.info {
    justify-self: end;
}
h2 {
    color: red;
}
.main_stuff img {
  margin-left: 100px;
}

footer p {
    border-top: 4px solid;
    border-top-color: gold;
    padding-top: 10px;
    text-align: center;
}


/* Tablet View and Up */
@media screen and (min-width: 700px) {
  .book {
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
  }

  .info {
    grid-column: 1/2;
    text-align: right;
    border-right: 2px solid gold;
    padding-right: 20px;
  }

  .main_stuff {
    grid-column: 2/3;
  }
}

