body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
header,
footer {
        /*border: 0;
         margin: 0;
        padding: 0; */
        background-color: skyblue;
        color: white;
        width: 100%;
}
header {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
}

/* menu */
.hide {
    display: none;
}
.menu-btn {
    text-align:center;
    color: white;
}
.menu {
    text-align: center;
}
.menu a {
    padding: 20px;
    color: white;
    display: block;
    text-decoration: none;    
}
.menu a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
/**/

h2 {
    text-align: center;
}
nav {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
nav a {
    color: white;
}

.gallery {
    max-width: 1000px;
    margin: 0 auto;
}
figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 20px auto;
}
/* modal */

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}


footer {
    text-align: center;
    background-color: skyblue;
}
footer p {
    padding: 15px;
    /* margin-top: 0; */
    margin-bottom: 0;
}

/* Tablet View */
@media screen and (min-width: 700px) {
    .menu-btn {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu a {
        display: inline;
        border: none;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/* Desktop View */
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    dialog img {
        width: 60%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}
          