.page {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
}


h1 {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 1.8em;
}

hr {
    width: 70%;
}

body{
    font-size: 16pt;
}