.page {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
}


h1 {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 1.1em;
}

hr {
    width: 70%;
}

body {
    margin: auto;
    line-height: 1.8;
    font-size: 14pt;
    width: 50%;
}

.italic-note {
    font-style: italic;
}

ol li {
    margin: 0.5rem 0;
}

.responsive-img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}